<!-- Campo de búsqueda -->
<div class="field has-addons">
    <div class="d-flex gap-2 m-3">
        <div class="control">
            <input class="input" type="text" placeholder="Buscar..." id="searchInput">
        </div>
        <div class="control">
            <button class="btn btn-info" onclick="searchTable('asistenciasTable')">
                <span class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </button>
        </div>

    </div>
</div>